# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
build
coverage
.turbo
.open-next
.wrangler

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# OS/editor
.DS_Store
.idea
.vscode

# Prisma
packages/db/generated
